        </main>
        <nav class="nav-bar">
            <ul class="nav-items">
                <a class="nav-item-link" href="/portfolios/show">
                    <li class="nav-item">
                        <span class="icon-wrapper">
                            <i class="fas fa-money-check-alt"></i>
                        </span>
                        <span class="nav-item-name">Portfolio</span>
                    </li>
                </a>
                <a class="nav-item-link" href="/securities/show">
                    <li class="nav-item">
                        <span class="icon-wrapper">
                            <i class="fas fa-question-circle"></i>
                        </span>
                        <span class="nav-item-name">Quote</span>
                    </li>
                </a>
                <a class="nav-item-link" href="/portfolios">
                    <li class="nav-item">
                        <span class="icon-wrapper">
                            <i class="fas fa-stream"></i>
                        </span>
                        <span class="nav-item-name">Rankings</span>
                    </li>
                </a>
                <a class="nav-item-link" href="/logout">
                    <li class="nav-item">
                        <span class="icon-wrapper">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <span class="nav-item-name">Log Out</span>
                    </li>
                </a>
            </ul>
        </nav>
    </body>
</html>
