<%- include('./partials/header') %>

  <div>Markets Simplified</div>
  <section>
    <ul class="center">
      <li>
        <% if (user) { %>
        <a href="/portfolios"><i class="material-icons center">trending_flat</i>View Portfolio</a>
        <% } else { %>
        <a href=""></a>
        <% } %>
      </li>
    </ul>
    <ul class="center">
      <li>
        <% if (user) { %>
        <a href="/logout"><i class="material-icons center">trending_flat</i>Log Out</a>
        <% } else { %>
        <a href="/auth/google"><i class="material-icons center">vpn_key</i>Login with Google</a>
        <% } %>
      </li>
    </ul>
  </section>

  <span>Create a portfolio and start learning by logging in with Google!</span>
    <% if (user) { %>
      <%- include('./partials/footer') %>
    <% } %>