<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to Rho</h1>
  <p>Making sense of the stock market</p>
  <button>Log in to check portfolio</button>

  <br><br><br>
  <div>
    <section>Indexes</section>
    <section>Gold</section>
    <section>Oil</section>
  </div>
</body>

</html>