body {
  display: flex;
  justify-content: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #e98b26;
  background-color: rgb(13, 45, 2);
}

a {
  color: #e99e4e;
}
