<%- include('../partials/header') %>

<form action="/securities/show" method="GET">
    <select name="portfolio" id="">
        <% portfolio.forEach(portfolio => { %>
            <option value="<%= portfolio._id %>"><%=portfolio.name%></option>
        <% }); %>
    </select>
    <div>
        <input name="stock"type="text" placeholder="Search stocks">
        <button type="submit">Stock</button>
    </div>
  
</form>



<%- include('../partials/footer') %>