<%- include('../partials/header') %>

<div><%= quote.companyName %></div>

<div>Latest Price</div>
<div><%= quote.latestPrice %></div>

<form action="" method="POST">
    <button type="submit" class="submit-button"> TEST Add Stock</button>
</form>

<form action="" method="POST">
    <button type="submit" class="submit-button"> TEST Add Stock</button>
</form>

<%- include('../partials/footer') %>