<%- include('../partials/header') %>

<form action="/user/<%=portfolioID%>/securities" method="POST">
    <label> THIS IS THE SECURITIES/SHOW.EJS
        <input name="price" type="number" min="0" max="400" step="20">
    </label>
    <button type="submit" class="submit-button"> TEST Add Stock</button>
</form>