        <!-- INDEX VIEW SHOULD SHOW ALL USERS PORTFOLIOS COMPARITIVELY -->
        
    <%- include('../partials/header') %>

    <table style="width:100%">
        <tr>
            <th>User</th>
            <th>Market Value</th>
            <th>Largest Holding</th>
            <th>Days Invested</th>
        </tr>
    </table>



    <%- include('../partials/footer') %>
    