<%- include('../partials/header') %>

<form class="newPortfolio" action="/portfolios" method="POST">
    <label for="Position">New Position:
        <select name="trade">
            <option value="Buy">Buy</option>
            <option value="Sell">Sell</option>
        </select>
    </label>
    <button class="submit-button" type="submit">Submit</button>
</form>

<%- include('../partials/footer') %>