<%- include('../partials/header') %>

<div class="newPortfolio">

    Let's name your first portfolio... 
    <br>
    <form class="newPortfolio" action="/portfolios" method="POST">
        <br>
        <input name="name" type="text" placeholder="Portfolio name">
        <button class="submit-button" type="submit">Submit</button>
    </form>
</div>

<%- include('../partials/footer') %>