<%- include('../partials/header') %>

<wrapper id='portfolio-grid'>
    <div>Cash Available</div>
    <div> <%= portfolio.cash %> </div>


    <div>Market Value Total</div>
    <div>$10,000.00</div>
    <div>Balance as of 09/01/2020</div>
</wrapper>

<div>
    portfolios.
</div>

<%- include('../partials/footer') %>
