<%- include('../partials/header') %>

<wrapper id='portfolio-grid'>
    <div>Cash Available</div>
    <div> <%= portfolio.cash %> </div>
    <div>Security</div>
    <tbody> 
        <tr>
            <% portfolio.security.forEach(security => { %>
            <td><%= security.asset %></td>
            <% }); %>
        </tr>
    </tbody>
</wrapper>

<%- include('../partials/footer') %>
